@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: lato;
	box-sizing: border-box;
} 
body{
    background-color: #151241;
}

h2 {
    font-family: 'Poppins',sans-serif;
    color: #ccc;
    text-align: center;
    font-size: 2rem;
    padding-top: 55px;
}

.slider{
	width: 100%;
	height: 200%;
	overflow: hidden;
}

.slider ul{
	display: flex;
	/* tiempo de cambio de Imagen */
	animation: cambio 30s infinite alternate linear;
	/* Tamaño de la Imagen  */
	width: 370%;
}
.slider li{
	width: 100%;
	list-style: none;
}
.slider img {
	width: 100%;
	height: 100%;
}
@keyframes cambio {
	0% {margin-left: 0;}
	28% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	58% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
	}